
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="views, views.gq, sharing, social, privacy, secure, socialmedia, information">
    <meta name="description" content="Create, manage, and share cards, be it for your product or your aboutme or even your bussiness, and let the world know it!">
    <meta name="og:title" content="Views">
    <meta name="og:description" content="Create, manage, and share cards, be it for your product or your aboutme or even your bussiness, and let the world know it!">
    <meta name="og:site_name" content="Views">
    <meta name="og:image" content="/cdn/logo.png">
    <meta name="image" content="/cdn/logo.png">
    <meta name="og:theme-color" content="#3673fc">
    <meta name="theme-color" content="#3673fc">
    <meta name="main-color" content="#3673fc">
    <!-- Others Stuff-->
    <link rel="shortcut icon" href="/cdn/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/loading.css">
    <title>Home</title>
    </head>
    <body>
        <div class="navbar">
        <ul>
  
            <li><a href="/trending">Trending</a></li>
             <li><a href="https://discord.gg/wS3gyq736r">Discord</a></li>
            <li class="account"><a href="/dashboard/">Dashoard</a></li>
          </ul>
        </div>
        <br><br><br>
          <div class="about" id="about"style="margin: 10%;">
        <h2 >Create your card,<br>
 we'll let the world view it...</h2>
 <p>Made for anything, be it a bussiness or a product a portofolio or anything else, views is the platform for creating <br>cards about it and sharing and letting the world view it.</p>
 <br> <br><a href="/register" class="button">Get Started</a>
</div>

<br><br><br><br><br><br><br><br><br><br>
    <h2 class="features" id="features" >Key Features...</h2>
    <div class="card-container" id="c2" >
        <div class="card">
            <h4><b>Markdown</b></h4>
            <p><b>Style you cards description with markdown!</b></p>
        </div>
    </div>
    <div class="card-container" >
        <div class="card">
            <h4><b>Trending Page</b></h4>
            <p><b>Get views, appear on our trending page and get even more views!</b></p>
        </div>
    </div>
    <div class="card-container" >
        <div class="card">
            <h4><b>Make it yours!</b></h4>
            <p><b>Your card, your theme, your logo, your everything!</b></p>
        </div>
    </div>

<div class="card-container"id='c2' >
    <div class="card">
        <h4><b>Secure</b></h4>
        <p><b>Security first. You and users are safe with us!</b></p>
    </div>
</div>
<div class="card-container" >
    <div class="card">
        <h4><b>Simple</b></h4>
        <p><b>One account for all, unlimited cards, manage and share with ease!</b></p>
    </div>
</div>
<div class="card-container" >
    <div class="card">
        <h4><b>No Charges</b></h4>
        <p><b>Our service is completely free, without extra charges.</b></p>
    </div>
</div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <footer>
        <div class="copyright">
            <img src="/cdn/logo.png" alt="logo" height="30" width="30" style="text-align: left">
              <p class="copyright">Copyright &copy; 2022 Views. Icons by Freepik and Flaticon. <br> Created by Shaheer.<br><br><a href="https://discord.gg/wS3gyq736r">Discord</a> | <a href="/terms">Terms</a> | <a href="/privacy ">Privacy</a></p>
         
            </div>
    </footer><br><br>
    </body>
    </html>
