<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="views, views.gq, sharing, social, privacy, secure, socialmedia, information">
    <meta name="description" content="Create, manage, and share cards, be it for your product or your aboutme or even your bussiness, and let the world know it!">
    <meta name="og:title" content="Views Terms">
    <meta name="og:description" content="Create, manage, and share cards, be it for your product or your aboutme or even your bussiness, and let the world know it!">
    <meta name="og:site_name" content="Views">
    <meta name="og:image" content="/cdn/logo.png">
    <meta name="image" content="/cdn/logo.png">
    <meta name="og:theme-color" content="#3673fc">
    <meta name="theme-color" content="#3673fc">
    <meta name="main-color" content="#3673fc">
    <!-- Others Stuff-->
    <link rel="shortcut icon" href="/cdn/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/terms.css">
    <title>Terms | Views</title>
</head>
<body>

        <div class="navbar">
        <ul>
  
            <li><a href="/home">Home</a></li>
             <li><a href="https://discord.gg/wS3gyq736r">Discord</a></li>
            <li class="account"><a href="/dashboard/">Dashboard</a></li>
          </ul>
        </div>
        <br><br><br>
        <h1>Privacy Policy - Last update: 17/05/2022</h1><br><br><br>
<div class="text">
        
      <p><b>1. What information do we collect? <br><br>&#8226; Email<br><br>&#8226; Username<br><br>&#8226; The cards you create<br><br>&#8226; The 'hashed' version of your password<br><br><br>2. Why do we store this information?<br><br>&#8226; We store this information for processing certain parts of our service like logging in, creating and displaying cards, etc.<br><br><br>3. For questions about data management or anything else please email: views.gq@gmail.com <br><br><br>4. We reserve to update this privacy policy at anymoment without prior notice. Your using of our service shall after such updated policies shall indicate your agreement to it. </b></p>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <footer>
        <div class="copyright">
            <img src="/cdn/logo.png" alt="logo" height="30" width="30" style="margin-left: 5%;">
              <p class="copyright">Copyright &copy; 2022 Views. Icons by Freepik and Flaticon. <br> Created by Shaheer.<br><br><a href="https://discord.gg/wS3gyq736r">Discord</a> | <a href="/terms">Terms</a> | <a href="/privacy ">Privacy</a></p>
         
            </div>
    </footer><br><br>
</body>

</html>