<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="views, views.gq, sharing, social, privacy, secure, socialmedia, information">
    <meta name="description" content="Create, manage, and share cards, be it for your product or your aboutme or even your bussiness, and let the world know it!">
    <meta name="og:title" content="Register Views">
    <meta name="og:description" content="Create, manage, and share cards, be it for your product or your aboutme or even your bussiness, and let the world know it!">
    <meta name="og:site_name" content="Views">
    <meta name="og:image" content="/cdn/logo.png">
    <meta name="image" content="/cdn/logo.png">
    <meta name="og:theme-color" content="#3673fc">
    <meta name="theme-color" content="#3673fc">
    <meta name="main-color" content="#3673fc">
    <!-- Others Stuff-->
    <link rel="shortcut icon" href="/cdn/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/loading.css">
    <title>Views | Register</title>
 
   
</head>
<body>
  <br><br><br>
  <br><br><br>  <br><br><center><h1 style="color: black;"><b>We have sent you a verification link to your email. You may close this tab.</b></h1></center><br><br>


</body>
</html>