@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@500&family=Montserrat:wght@200;300&family=Nanum+Gothic&display=swap');
html, body {width: 100%;height: 100%;background-image: linear-gradient(to bottom right, #3673fc,  #f4f4f7);margin: 0px; background-attachment: fixed;
}

li {display: inline;}
ul {
 
    list-style-type: none;
    margin: 0;
    float: left;
  

    border-radius: 0px;
    padding: 0;
    overflow: hidden;
    background-color: transparent;

   
    width:100%;

}

li a:hover {
text-decoration: underline;
  }

li a {

    font-family: 'Nanum Gothic', sans-serif;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .account {
    float: right;
  }
  .about h2 {
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    font-weight: 500;
  }
  .about p {
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin:0;
    text-align: left;

  }


::-webkit-scrollbar {
    display: none;
}

.button {
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
    background-color: transparent;
    color: black;
    padding: 10px 15px 10px 15px;
    border: 2px solid black;
    font-size: 20px;
    font-weight: 500;
    border-radius: 17px;
    
  }

  .button:hover{
    background-color: black;
    color: white;


  }

  .features {
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
    font-weight: 500;
    margin: 10%;

  }
  .card {
    border-radius: 17px;
    margin:auto;
    font-family: 'Nanum Gothic';
      display: inline-block !important;
      padding: 2px 16px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

      text-align: center;
      height: auto;
      width: 100%;
      border: 2px solid;
      background-color: transparent;
   
      
 
     

  }
  .card-container {

    border-radius: 17px;
    display: inline-block;
    margin-bottom: 2.5%;



    margin-left: 10%;
    min-width: 500px;
    max-width: 500px;


 
}



  @media screen and (max-width: 1000px) {
    .card-container {
    
        width: 70%;
        display: block;
        margin-bottom: 20px;
       margin-left: 10%;
       

    min-width: auto !important;
    max-width: auto !important;
  
        
    
      
    
    
     
    }
    #c2 {
      margin-left: 10%;
    }
  
  
 
  }
  .copyright {font-size: 12px;font-family: 'Nanum Gothic', sans-serif;color: black;text-align: center;display: block;}
.copyright a {
  color: black;
  text-decoration: none;
}
.copyright a:hover {

  text-decoration: underline;
}
