@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:wght@500&family=Montserrat:wght@200;300&family=Nanum+Gothic&display=swap');
html, body {width: 100%;height: 100%;background-color:#f4f4f7;margin: 0px;}
.new {border-radius: 15px; padding: 5px 28px; display: inline-block;border: 2px solid black;   cursor: pointer; font-family: 'Montserrat', sans-serif;}li {display: inline;}
ul {
 
    list-style-type: none;
    margin: 0;
 
    padding: 0;
    overflow: hidden;
    background-color: #3673fc;
    
    overflow: hidden;
    width:100%;
    min-width: auto;
}

li a:hover {
    background-color: #96afd6;
  }

li a {

    font-family: 'Nanum Gothic', sans-serif;
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .account {
    float: right;
  }
  .copyright {font-size: 12px;font-family: 'Nanum Gothic', sans-serif;color: black;display: block;}

  .card {
   
    margin:auto;
    font-family: 'Nanum Gothic';
      display: inline-block !important;
      padding: 2px 16px;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

      text-align: center;
      height: auto;
      width: 100%;
   
      
 
     

  }
  .card-container {
    display: inline-block !important;
    margin-bottom: 2.5%;
    margin-left: 3.1%;
    width: 20%;

    margin-right: 0.5%;


 
}

@media screen and (max-width: 600px) {
    .card-container {
display: flex;
        width: 60%;
     

       
  
        margin-left:85px;
    
        padding: 10px;
    
    
     
    }
    #new1 {
 
      margin-left:11.0%;
    }
 
  }
  @media screen and (max-width: 1000px) {
    .card-container {

        width: 60%;
     

       
  
        margin-left:16%;
    
        padding: 10px;
    
    
     
    }
    #new1 {
 
      margin-right: 4%;
    }
 
  }

h1 {
    text-align: center;
    font-family: 'Nanum Gothic';
}

::-webkit-scrollbar{display: none;}
